<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/johnny_automatic_broccoli"
        android:label="Online Grocery Store"
        android:roundIcon="@drawable/johnny_automatic_broccoli"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".addingProduct"
            android:exported="false" />
        <activity
            android:name=".adminAddProduct"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_login" />
        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".OrderCompleted"
            android:exported="false" />
        <activity
            android:name=".adapter.PlaceOrder"
            android:exported="false" />
        <activity
            android:name=".NavHeader"
            android:exported="false" />
        <activity
            android:name=".PlaceOrder"
            android:exported="false" />
        <activity
            android:name=".dataEdit"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".productSubCategory"
            android:exported="false" />
        <activity
            android:name=".Veggies"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ProductDetails"
            android:exported="false" />
        <activity
            android:name=".AllCategory"
            android:exported="false" />
        <activity
            android:name=".UserAuthentication"
            android:exported="true" />
        <activity
            android:name=".UserRegistration"
            android:exported="true"
            android:parentActivityName=".UserAuthentication" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>